.banner-secundary {
  margin-top: 30px;

  .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 110%;
    transform: translate(-50%, -50%);
  }
  h2,
  h3 {
    text-align: center;
  }
  .headline {
    font-size: 100px;
  }
  .subhead {
    margin-top: 10px;
    font-size: 50px;
    opacity: 0.9;
    font-weight: lighter;
  }
  .more-breve {
    margin: 10px 0px 10px 0px;
    font-size: 35px;
    font-weight: lighter;
    opacity: 0.5;
  }
  .more-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a {
      text-decoration: none;
      color: #06c;
      font-size: 40px;
      margin: 0px 50px 0px 45px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  img {
    width: 100%;
    background-size: 100% 100%;
    height: 80vh;
  }
  .img-imac-mobile {
    display: none;
  }
}
