.banner-tertiary {
    padding-top: 30px;
    background: black;
    .text-header-absolute {
        position: absolute;
        left: 50%;
        top: 195%;
        transform: translate(-50%, -50%);
    }
    h2,
    h3 {
        color: $secundary-color;
        text-align: center;
    }
    .headline {
        font-size: 100px;
    }
    .subhead {
        margin-top: 10px;
        font-size: 50px;

        font-weight: lighter;
    }
    .more-options {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        a {
            text-decoration: none;
            color: #06c;
            font-size: 40px;
            margin: 0px 50px 0px 45px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    img {
        width: 100%;
        height: 80vh;
    }
    .img-iphone-mobile{
        display: none;
    }
}
