$primary-color: rgba(0,0,0,0.8);
$secundary-color: white;
$tertiary-color:#06c;
$base-color: #ededf1;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body{
    width: 100%;
    background: $base-color;
    
}
html{
    width: 100%;
    font-size: 62.5%;
  
}