.subheader{
    width: 100%;

    background: $secundary-color;
    h3{
        text-align: center;
        font-size: 2.7rem;
        font-weight: lighter;
        opacity: 0.8;
        padding: 30px;
       a{
        text-decoration: none;
        color:  #06c;
        &:hover{
            text-decoration: underline;
        }
       }
    }
}