@import 'base';
@import 'header';
@import 'subheader';
@import 'Banner-page/banner-base';
@import 'banner-page/banner-initial';
@import 'banner-page/banner-secundary';
@import 'banner-page/banner-tertiary';
@import 'banner-page/banners-flex';
@import 'footer/footer-base';
@import 'footer/footer-menu';
@import 'responsive';