* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

body {
  width: 100%;
  background: #ededf1;
}

html {
  width: 100%;
  font-size: 62.5%;
}

.border-menu {
  width: 100%;
  height: 90px;
}

.menu {
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 90px;
  padding: 20px;
}

.menu .menu-mobile {
  display: none;
}

.menu .logo svg {
  width: 45px;
  height: 45px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.menu .logo svg:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.menu .items-txt-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu .items-txt-menu li a {
  margin-left: 5vw;
  text-decoration: none;
  color: white;
  opacity: 0.6;
  font-weight: 500;
  font-size: 2.5rem;
}

.menu .items-txt-menu li a:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  opacity: 0.8;
}

.menu .icons-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .icons-menu div svg {
  margin-left: 5vw;
  width: 45px;
  height: 45px;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.menu .icons-menu div svg:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.menu-mobile-click {
  display: none;
}

.subheader {
  width: 100%;
  background: white;
}

.subheader h3 {
  text-align: center;
  font-size: 2.7rem;
  font-weight: lighter;
  opacity: 0.8;
  padding: 30px;
}

.subheader h3 a {
  text-decoration: none;
  color: #06c;
}

.subheader h3 a:hover {
  text-decoration: underline;
}

.banner-primary .text-header-absolute {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-primary h2,
.banner-primary h3 {
  text-align: center;
}

.banner-primary .headline {
  font-size: 10.0rem;
}

.banner-primary .subhead {
  margin-top: 10px;
  font-size: 5.0rem;
  opacity: 0.9;
  font-weight: lighter;
}

.banner-primary .more-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.banner-primary .more-options a {
  text-decoration: none;
  color: #06c;
  font-size: 4.0rem;
  margin: 0px 50px 0px 45px;
}

.banner-primary .more-options a:hover {
  text-decoration: underline;
}

.banner-primary img {
  width: 100%;
  height: 80vh;
}

.banner-primary .img-mobile {
  display: none;
}

.banner-secundary {
  padding-top: 30px;
  background: #FAFAFA;
}

.banner-secundary .text-header-absolute {
  position: absolute;
  left: 50%;
  top: 123%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-secundary h2,
.banner-secundary h3 {
  text-align: center;
}

.banner-secundary .headline {
  font-size: 10.0rem;
}

.banner-secundary .subhead {
  margin-top: 10px;
  font-size: 5.0rem;
  opacity: 0.9;
  font-weight: lighter;
}

.banner-secundary .more-breve {
  margin: 10px 0px 10px 0px;
  font-size: 3.5rem;
  font-weight: lighter;
  opacity: 0.5;
}

.banner-secundary .more-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.banner-secundary .more-options a {
  text-decoration: none;
  color: #06c;
  font-size: 3.0rem;
  margin: 0px 50px 0px 45px;
}

.banner-secundary .more-options a:hover {
  text-decoration: underline;
}

.banner-secundary img {
  width: 100%;
  background-size: 100% 100%;
  height: 80vh;
}

.banner-secundary .img-imac-mobile {
  display: none;
}

.banner-tertiary {
  padding-top: 25px;
  background-color: black;
}

.banner-tertiary .text-header-absolute {
  position: absolute;
  left: 50%;
  top: 210%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-tertiary h2,
.banner-tertiary h3 {
  color: white;
  text-align: center;
}

.banner-tertiary .headline {
  font-size: 10.0rem;
}

.banner-tertiary .subhead {
  margin-top: 10px;
  font-size: 5.0rem;
  font-weight: lighter;
}

.banner-tertiary .more-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.banner-tertiary .more-options a {
  text-decoration: none;
  color: #06c;
  font-size: 3.0rem;
  margin: 0px 50px 0px 45px;
}

.banner-tertiary .more-options a:hover {
  text-decoration: underline;
}

.banner-tertiary img {
  width: 100%;
  height: 80vh;
}

.banner-tertiary .img-iphone-mobile {
  display: none;
}

.banners-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banners-flex .banners {
  max-width: 1800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  background: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1200px;
          flex: 1 1 1200px;
}

.banners-flex .banners img {
  width: 100%;
  height: 80vh;
}

footer {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

footer h3 {
  font-size: 1.6rem;
  opacity: 0.7;
}

footer .HeadEnd {
  font-size: 1.74rem;
  margin: 0;
  padding: 20px 0px 20px 0px;
  opacity: 0.5;
}

footer hr {
  margin-bottom: 70px;
  opacity: 0.4;
}

footer .sub-end p {
  width: 100%;
  font-size: 1.6rem;
  color: #a19f9f;
}

footer .sub-end p a {
  text-decoration: none;
  color: #06c;
  opacity: 0.8;
}

footer .sub-end p a:hover {
  text-decoration: underline;
}

footer .sub-end h3 {
  opacity: 0.3;
  font-size: 1.6rem;
  padding: 3px 0px 3px 0px;
}

footer .sub-end hr {
  margin: 15px 0px 15px 0px;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright div {
  opacity: 0.4;
  font-size: 1.7rem;
}

footer .copyright div a {
  text-decoration: none;
  color: black;
}

footer .copyright div a:hover {
  text-decoration: underline;
}

footer .buttons-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

footer .buttons-end div {
  padding: 10px 0px 10px 0px;
  margin-right: 10px;
}

footer .buttons-end div a {
  text-decoration: none;
  font-size: 1.7rem;
  color: black;
  opacity: 0.5;
  padding-right: 10px;
  border-right: 1px solid black;
}

footer .buttons-end div a:hover {
  text-decoration: underline;
}

footer .buttons-end div .a-end {
  border: 0px;
}

footer {
  padding: 0px 20px 0px 20px;
}

footer .container-flex-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .container-flex-items .items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 20px 0px 40px 0px;
}

footer .container-flex-items .items-container ul {
  width: 90%;
  list-style: none;
}

footer .container-flex-items .items-container ul hr {
  display: none;
}

footer .container-flex-items .items-container ul h3 {
  margin-top: 40px;
}

footer .container-flex-items .items-container ul li {
  margin-top: 13px;
}

footer .container-flex-items .items-container ul a {
  color: black;
  opacity: 0.5;
  font-size: 1.7rem;
  margin-bottom: 15px;
  text-decoration: none;
}

footer .container-flex-items .items-container ul a:hover {
  text-decoration: underline;
}

@media (min-width: 1559px) {
  .banner-primary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-primary .headline {
    font-size: 9rem;
  }
  .banner-primary .subhead {
    font-size: 4rem;
  }
  .banner-primary .more-options {
    width: 80vw;
  }
  .banner-primary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 118%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banners-flex .banners {
    max-width: 2000px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 800px;
            flex: 1 1 800px;
  }
}

@media (max-width: 1600px) {
  .banner-primary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-primary .headline {
    font-size: 9rem;
  }
  .banner-primary .subhead {
    font-size: 4rem;
  }
  .banner-primary .more-options {
    width: 80vw;
  }
  .banner-primary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 123%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-secundary .banners-flex .banners {
    max-width: 1200px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 600px;
            flex: 1 1 600px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .banners-flex .banners {
    max-width: 1600px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
}

@media (max-width: 1070px) {
  .banners-flex .banners {
    max-width: 1070px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 42%;
  }
  .banners-flex .banners {
    max-width: 1000px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
  .banner-primary .headline {
    font-size: 12rem;
  }
  .banner-primary .subhead {
    font-size: 8rem;
  }
  .banner-primary .more-options {
    width: 100vw;
  }
  .banner-primary .more-options a {
    font-size: 5rem;
  }
  .banner-secundary .headline {
    font-size: 12rem;
  }
  .banner-secundary .subhead {
    font-size: 8rem;
  }
  .banner-secundary .more-options {
    width: 100vw;
  }
  .banner-secundary .more-options a {
    font-size: 5rem;
  }
  .banner-tertiary .headline {
    font-size: 12rem;
  }
  .banner-tertiary .subhead {
    font-size: 8rem;
  }
  .banner-tertiary .more-options {
    width: 100vw;
  }
  .banner-tertiary .more-options a {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 62.4%;
  }
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*&:hover{
            top: -62px;
            transition: 3s ease-in;
        }*/
  }
  .menu .menu-mobile {
    display: block;
    opacity: 0.6;
  }
  .menu .menu-mobile .item1,
  .menu .menu-mobile .item2 {
    width: 35px;
    height: 2px;
    background: white;
  }
  .menu .menu-mobile .item1 {
    margin-bottom: 10px;
  }
  .menu .menu-mobile:hover {
    -webkit-transition: 2s ease-in;
    transition: 2s ease-in;
    opacity: 2;
  }
  .menu .logo svg {
    margin: 0;
  }
  .menu .icons-menu .icon-shop svg {
    margin: 0;
  }
  .menu .items-txt-menu {
    display: none;
  }
  .menu .icons-menu .icon-search {
    display: none;
  }
  .menu.search {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    top: -100%;
  }
  .menu.on .menu-mobile .item1 {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
            transform: rotate(45deg) translate(-1px, 0px);
  }
  .menu.on .menu-mobile .item2 {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
            transform: rotate(-45deg) translate(8px, -10px);
  }
  .menu-mobile-click {
    display: block;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background: black;
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    top: -92%;
  }
  .menu-mobile-click hr {
    opacity: 0.3;
  }
  .menu-mobile-click .line-search {
    margin-bottom: 15px;
  }
  .menu-mobile-click .line-items {
    width: 90%;
    margin: 0 auto;
  }
  .menu-mobile-click .container {
    width: 100%;
    margin-top: 100px;
    background: black;
  }
  .menu-mobile-click .search-container {
    width: 90%;
    margin: 0 auto;
    top: -100%;
    margin-bottom: 25px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #1d1d1f;
  }
  .menu-mobile-click .search-container .logo {
    width: 45px;
  }
  .menu-mobile-click .search-container .search {
    font-size: 20px;
    color: white;
    padding: 20px;
    background: #1d1d1f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    border: none;
    outline: none;
    height: 70px;
  }
  .menu-mobile-click li {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
  }
  .menu-mobile-click li a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-weight: 500;
    font-size: 2.5rem;
  }
  .menu-mobile-click li a:hover {
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    opacity: 0.7;
  }
  .menu-mobile-click.on {
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
    top: 0;
  }
  .subheader div {
    padding: 0px 70px 0px 60px;
  }
  .banner-primary .img-desktop {
    display: none;
  }
  .banner-primary .img-mobile {
    display: block;
  }
  .banner-primary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-primary .headline {
    font-size: 9rem;
  }
  .banner-primary .subhead {
    font-size: 4rem;
  }
  .banner-primary .more-options {
    width: 80vw;
  }
  .banner-primary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 125%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-secundary .headline {
    font-size: 9rem;
  }
  .banner-secundary .subhead {
    font-size: 4rem;
  }
  .banner-secundary .more-breve {
    font-size: 3rem;
  }
  .banner-secundary .more-options {
    width: 100vw;
  }
  .banner-secundary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .img-imac-desktop {
    display: none;
  }
  .banner-secundary .img-imac-mobile {
    display: block;
  }
  .banner-tertiary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 210%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-tertiary .headline {
    font-size: 9rem;
  }
  .banner-tertiary .subhead {
    font-size: 4rem;
  }
  .banner-tertiary .more-options {
    width: 80vw;
  }
  .banner-tertiary .more-options a {
    font-size: 3rem;
  }
  .banner-tertiary img {
    width: 100%;
    height: 80vh;
  }
  .banner-tertiary .img-iphone-desktop {
    display: none;
  }
  .banner-tertiary .img-iphone-mobile {
    display: block;
  }
  footer .container-flex-items {
    display: block;
  }
  footer .container-flex-items .items-container {
    padding: 0;
    width: 100%;
  }
  footer .container-flex-items .items-container ul {
    margin: 0 auto;
    width: 100%;
  }
  footer .container-flex-items .items-container ul hr {
    display: block;
    margin: 5px 0px 0px 0px;
  }
  footer .container-flex-items .items-container ul h3 {
    opacity: 0.5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin-top: 15px;
  }
  footer .container-flex-items .items-container ul h3:hover {
    -webkit-transition: 0.1s;
    transition: 0.1s;
    opacity: 0.6;
    cursor: pointer;
  }
  footer .container-flex-items .items-container ul h3 div .x,
  footer .container-flex-items .items-container ul h3 div .y {
    -webkit-transition: 3s;
    transition: 3s;
    position: absolute;
    margin-bottom: 4px;
    background: black;
    opacity: 0.6;
    width: 3px;
    height: 13px;
    right: 5%;
  }
  footer .container-flex-items .items-container ul h3 div .y {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  footer .container-flex-items .items-container .x.on {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  footer .container-flex-items .items-container .y.on {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  footer .container-flex-items .items-container a {
    display: none;
  }
  footer .container-flex-items .items-container.on a {
    display: block;
  }
  footer .copyright {
    display: block;
  }
  footer .copyright div {
    margin-top: 20px;
  }
  footer .buttons-end {
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .banner-primary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-primary .headline {
    font-size: 9rem;
  }
  .banner-primary .subhead {
    font-size: 4rem;
  }
  .banner-primary .more-options {
    width: 80vw;
  }
  .banner-primary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 130%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-secundary .headline {
    font-size: 9rem;
  }
  .banner-secundary .subhead {
    font-size: 4rem;
  }
  .banner-secundary .more-breve {
    font-size: 3rem;
  }
  .banner-secundary .more-options {
    width: 100vw;
  }
  .banner-secundary .more-options a {
    font-size: 3rem;
  }
  .banner-secundary .img-imac-desktop {
    display: none;
  }
  .banner-secundary .img-imac-mobile {
    display: block;
  }
  .banner-tertiary .text-header-absolute {
    position: absolute;
    left: 50%;
    top: 222%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner-tertiary .headline {
    font-size: 9rem;
  }
  .banner-tertiary .subhead {
    font-size: 4rem;
  }
  .banner-tertiary .more-options {
    width: 80vw;
  }
  .banner-tertiary .more-options a {
    font-size: 3rem;
  }
  .banner-tertiary img {
    width: 100%;
    height: 80vh;
  }
  .banner-tertiary .img-iphone-desktop {
    display: none;
  }
  .banner-tertiary .img-iphone-mobile {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */