.banners-flex{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    .banners{ 
        max-width:1800px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        background: white;
       
        flex: 1 1 1200px;
        img{
            width: 100%;
            height: 80vh;
        }
    }
  
}